<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>


      <add name="CCM1Entities"
        connectionString="metadata=&quot;res://*/Model CCM.CCM1Model.csdl|res://*/Model CCM.CCM1Model.ssdl|res://*/Model CCM.CCM1Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCMARSAT1;initial catalog=CCM;persist security info=True;user id=ae_apps;password=neufeldt;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>
      <add name="CCM2Entities"
        connectionString="metadata=&quot;res://*/Model CCM.CCM2Model.csdl|res://*/Model CCM.CCM2Model.ssdl|res://*/Model CCM.CCM2Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCMARSAT2;initial catalog=CCM;persist security info=True;user id=ae_apps;password=neufeldt;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>
      <add name="CCM3Entities"
        connectionString="metadata=&quot;res://*/Model CCM.CCM3Model.csdl|res://*/Model CCM.CCM3Model.ssdl|res://*/Model CCM.CCM3Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCMARSAT3;initial catalog=ccm;user id=ae_apps;password=neufeldt;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>
      <add name="CCM4Entities"
        connectionString="metadata=&quot;res://*/Model CCM.CCM4Model.csdl|res://*/Model CCM.CCM4Model.ssdl|res://*/Model CCM.CCM4Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCMARSAT4;initial catalog=CCM;persist security info=True;user id=ae_apps;password=neufeldt;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient"/>


  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>